Repository prgrms-be-devcourse/NBE4-5-3-Team02, pull requests merged in 2025-04, with the labels that each got.

#14 ✨ feat: 필터 관련 코틀린 변환 및 테스트 코드 추가 #12
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/Post.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/LocationController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserInfoController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/VerifyController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/v2/SmsVerifyRequest.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/MailService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/MessageService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/VerificationService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/WebSocketConfig.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/CustomException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/CustomException.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/duplicate/DuplicateFieldException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/location/AddressConversionException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/location/DistanceCalculationException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/location/LocationException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/MailException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/MailPreparationException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/SmtpConnectionException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/VerificationException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/handler/GlobalExceptionHandler.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/handler/GlobalExceptionHandler.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/CustomAuthenticationFilter.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/CustomAuthenticationFilter.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/Login.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/Login.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/LoginUserArgumentResolver.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/LoginUserArgumentResolver.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/util/AESUtil.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/s3/SmsUtil.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/snackoverflow/toolgether/global/filter/CustomAuthenticationFilterTest.java
  backend/src/test/kotlin/com/snackoverflow/toolgether/deposit/DepositControllerTest.kt
Labels: 💡 Backend, ♻️ Refactor, ✅ Test

#16 ✨ feat: UserRepository 및 user의 서비스 클래스 코틀린 변환 + 테스트 추가 #15
  backend/src/main/java/com/snackoverflow/toolgether/domain/Notification/entity/Notification.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/Notification/service/NotificationService.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/chat/entity/ChatMessage.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/chat/repository/ChatRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/chat/service/ChatService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/controller/ReviewController.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/scheduler/ReviewScoreScheduler.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/LocationController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserInfoController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/MessageService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/MessageService.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserServiceV2.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserServiceV2.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/VerificationService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/VerificationService.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/config/AsyncConfig.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/constants/AppConstants.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/dto/RsData.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/CustomAuthenticationFilter.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/token/JwtService.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/token/TokenService.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/util/s3/S3Service.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/util/s3/S3ServiceImpl.kt
  backend/src/test/java/com/snackoverflow/toolgether/domain/user/controller/UserControllerV2Test.java
  backend/src/test/java/com/snackoverflow/toolgether/domain/user/controller/UserInfoControllerTest.java
  backend/src/test/java/com/snackoverflow/toolgether/domain/user/service/service/LocationServiceTest.java
  backend/src/test/java/com/snackoverflow/toolgether/domain/user/service/service/MessageServiceTest.java
  backend/src/test/java/com/snackoverflow/toolgether/domain/user/service/service/UserServiceV2Test.java
  backend/src/test/java/com/snackoverflow/toolgether/domain/user/service/service/VerificationServiceTest.java
Labels: 💡 Backend, ♻️ Refactor, ✅ Test

#19 [Refactor] global exception, util 일부 마이그레이션 + log 일부 수정
  backend/src/main/java/com/snackoverflow/toolgether/domain/Notification/SseNotificationListener.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/controller/SseController.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/BadRequestException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/BadRequestException.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/FileUploadException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/FileUploadException.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/NotFoundException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/NotFoundException.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/util/AESUtil.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/AESUtil.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/util/s3/SmsUtil.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/s3/SmsUtil.kt
Labels: 💡 Backend, ♻️ Refactor

#21 ♻️ Refactor: Post 관련 코드 코틀린으로 수정 및 코드 변경으로 인한 추가적인 수정
  backend/build.gradle.default
  backend/build.gradle.kts
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/controller/PostController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/controller/PostController.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostCreateRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostCreateRequest.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostResponse.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostSearchRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostSearchRequest.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostUpdateRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostUpdateRequest.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/Post.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/Post.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/Category.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/Category.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/PriceType.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/PriceType.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/RecurrenceDays.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/RecurrenceDays.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepository.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepositoryCustom.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepositoryCustom.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/impl/PostRepositoryImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/impl/PostRepositoryImpl.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/PostService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/PostService.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/impl/PostServiceImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/impl/PostServiceImpl.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/dto/PostAvailabilityRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/dto/PostAvailabilityRequest.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/dto/PostAvailabilityResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/dto/PostAvailabilityResponse.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/entity/PostAvailability.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/entity/PostAvailability.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/repository/PostAvailabilityRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/repository/PostAvailabilityRepository.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/entity/PostImage.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/entity/PostImage.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/repository/PostImageRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/repository/PostImageRepository.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/service/PostImageService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/service/PostImageService.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/Reservation.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/LocationController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/MypageController.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/entity/User.kt
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/Login.kt
  backend/src/main/java/com/snackoverflow/toolgether/global/init/BaseInitData.kt
  backend/src/test/java/com/snackoverflow/toolgether/domain/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/snackoverflow/toolgether/domain/review/service/ReviewServiceTest.java
Labels: ♻️ Refactor
